.task {
    display: flex;
    margin: 20px;
    border: 5px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 400px;
    padding: 10px;
}

.btn {
    height: 30px;
}

h1 {
    margin: 0;
    font-size: 25px;
}